# Fall 2024 Data Science Track: Week 2 - Data Cleaning Exercise

## Packages, Packages, Packages!

Import *all* the things here! You need the standard stuff: `pandas` and `numpy`.

If you got more stuff you want to use, add them here too. üôÇ

In [2]:
# Import here.

import pandas as pd
import numpy as np

## Introduction

With the packages out of the way, now you will be working with the following data sets:

* `food_coded.csv`: [Food choices](https://www.kaggle.com/datasets/borapajo/food-choices?select=food_coded.csv) from Kaggle
* `Ask A Manager Salary Survey 2021 (Responses) - Form Responses 1.tsv`: [Ask A Manager Salary Survey 2021 (Responses)](https://docs.google.com/spreadsheets/d/1IPS5dBSGtwYVbjsfbaMCYIWnOuRmJcbequohNxCyGVw/view?&gid=1625408792) as *Tab Separated Values (.tsv)* from Google Docs

Each one poses different challenges. But you‚Äôll‚Äïof course‚Äïovercome them with what you learned in class! üòâ

## Food Choices Data Set

### Load the Data

In [29]:
# Load the Food choices data set into a variable (e.g., df_food).

food_data_set_path = '../data/food_coded.csv'

df_food = pd.read_csv(food_data_set_path)

### Explore the Data

How much data did you just load?

In [30]:
# Count by hand. (lol kidding)

data_amount = df_food.shape[0]
print(f'The data set has {data_amount} rows.')

The data set has 125 rows.

What are the columns and their types in this data set?

In [31]:
# Show the column names and their types.

data_cols = df_food.dtypes
data_cols_amount = df_food.shape[1]
print(f'The data set has {data_cols_amount} columns.')
print(data_cols)

The data set has 61 columns.
GPA                  object
Gender                int64
breakfast             int64
calories_chicken      int64
calories_day        float64
                     ...
type_sports          object
veggies_day           int64
vitamins              int64
waffle_calories       int64
weight               object
Length: 61, dtype: object

### Clean the Data

Perhaps we‚Äôd like to know more another day, but the team is really interested in just the relationship between calories (`calories_day`) and weight. ‚Ä¶and maybe gender.

Can you remove the other columns?

In [34]:
# Remove ‚Äòem.
df_food.drop(df_food.columns.difference(['calories_day', 'weight', 'Gender']), axis=1, inplace=True)
print(df_food)

     Gender  calories_day                    weight
0         2           NaN                       187
1         1           3.0                       155
2         1           4.0  I'm not answering this.
3         1           3.0             Not sure, 240
4         1           2.0                       190
..      ...           ...                       ...
120       1           4.0                       156
121       1           2.0                       180
122       1           NaN                       120
123       2           4.0                       135
124       1           NaN                       135

[125 rows x 3 columns]

What about `NaN`s? How many are there?

In [41]:
# Count ‚Äòem.

nanamount = df_food.isna().sum().sum()
print(f'The data set has {nanamount} NaN values.')

The data set has 21 NaN values.

We gotta remove those `NaN`s‚Äïthe entire row.

In [42]:
# Drop ‚Äòem.

df_food.dropna(inplace=True)
print(df_food)

     Gender  calories_day                    weight
1         1           3.0                       155
2         1           4.0  I'm not answering this.
3         1           3.0             Not sure, 240
4         1           2.0                       190
5         1           3.0                       190
..      ...           ...                       ...
118       1           3.0                       140
119       2           3.0                       185
120       1           4.0                       156
121       1           2.0                       180
123       2           4.0                       135

[104 rows x 3 columns]

But what about the weird non-numeric values in the column obviously meant for numeric data?

Notice the data type of that column from when you got the types of all the columns?

If only we could convert the column to a numeric type and drop the rows with invalid values. ü§î

In [54]:
# Fix that.

df_food = df_food[pd.to_numeric(df_food.weight, errors='coerce').notnull()]
print(df_food)

     Gender  calories_day weight
1         1           3.0    155
4         1           2.0    190
5         1           3.0    190
6         2           3.0    180
7         1           3.0    137
..      ...           ...    ...
118       1           3.0    140
119       2           3.0    185
120       1           4.0    156
121       1           2.0    180
123       2           4.0    135

[101 rows x 3 columns]

Now this data seems reasonably clean for our purposes! üòÅ

Let‚Äôs save it somewhere to be shipped off to another teammate. üíæ

In [55]:
# Savey save!

df_food.to_csv('cleaned_food_data.csv', index=False)

## Ask a Manager Salary Survey 2021 (Responses) Data Set

### Load the Data

In [59]:
# Load the Ask A Manager Salary Survey 2021 (Responses) data set into a variable (e.g., df_salary).

df_salary = pd.read_csv('../data/Ask A Manager Salary Survey 2021 (Responses) - Form Responses 1.tsv', sep='\t')
print(df_salary)
df_salary.to_csv('ask_a_manager_salary_survey_2021.csv', index=False)

                Timestamp How old are you?  What industry do you work in?  \
0      4/27/2021 11:02:10            25-34   Education (Higher Education)
1      4/27/2021 11:02:22            25-34              Computing or Tech
2      4/27/2021 11:02:38            25-34  Accounting, Banking & Finance
3      4/27/2021 11:02:41            25-34                     Nonprofits
4      4/27/2021 11:02:42            25-34  Accounting, Banking & Finance
...                   ...              ...                            ...
28057  7/12/2024 22:52:01            35-44                    Health care
28058  7/23/2024 17:51:03            25-34              Computing or Tech
28059  7/24/2024 12:22:58            18-24  Accounting, Banking & Finance
28060  7/26/2024 11:20:45            18-24              Computing or Tech
28061   8/20/2024 1:06:13            25-34                    Health care

                                      Job title  \
0            Research and Instruction Librarian
1      Change & Internal Communications Manager
2                          Marketing Specialist
3                               Program Manager
4                            Accounting Manager
...                                         ...
28057                              Veterinarian
28058                         Systems Architect
28059                 Risk Management Associate
28060                                        IT
28061                    Clinical physiologist

      If your job title needs additional context, please clarify here:  \
0                                                    NaN
1                                                    NaN
2                                                    NaN
3                                                    NaN
4                                                    NaN
...                                                  ...
28057                                                NaN
28058                                                NaN
28059                                                NaN
28060                                                NaN
28061                                                NaN

      What is your annual salary? (You'll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)  \
0                                                 55,000
1                                                 54,600
2                                                 34,000
3                                                 62,000
4                                                 60,000
...                                                  ...
28057                                             135000
28058                                             109000
28059                                               1200
28060                                               1700
28061                                            1200000

       How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.  \
0                                                    0.0
1                                                 4000.0
2                                                    NaN
3                                                 3000.0
4                                                 7000.0
...                                                  ...
28057                                                NaN
28058                                                NaN
28059                                                0.0
28060                                               10.0
28061                                                NaN

      Please indicate the currency  \
0                              USD
1                              GBP
2                              USD
3                              USD
4                              USD
...                            ...
28057                          USD
28058                          USD
28059                          USD
28060                          USD
28061                        Other

      If "Other," please indicate the currency here:   \
0                                                 NaN
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                                 NaN
...                                               ...
28057                                             NaN
28058                                             NaN
28059                                             NaN
28060                                             NaN
28061                                             NGN

      If your income needs additional context, please provide it here:  \
0                                                    NaN
1                                                    NaN
2                                                    NaN
3                                                    NaN
4                                                    NaN
...                                                  ...
28057                                                NaN
28058                                                NaN
28059                                                NaN
28060                                                NaN
28061                                                NaN

      What country do you work in?  \
0                    United States
1                   United Kingdom
2                               US
3                              USA
4                               US
...                            ...
28057               United States
28058                          USA
28059                      Myanmar
28060                        Burma
28061                     Nigeria

      If you're in the U.S., what state do you work in?  \
0                                         Massachusetts
1                                                   NaN
2                                             Tennessee
3                                             Wisconsin
4                                        South Carolina
...                                                 ...
28057                                          Missouri
28058                                           Georgia
28059                                          Colorado
28060                                               NaN
28061                                               NaN

      What city do you work in?  \
0                        Boston
1                     Cambridge
2                   Chattanooga
3                     Milwaukee
4                    Greenville
...                         ...
28057               Wentzville
28058                   Atlanta
28059                    Yangon
28060                    Yangon
28061                     Lagos

      How many years of professional work experience do you have overall?  \
0                                              5-7 years
1                                           8 - 10 years
2                                            2 - 4 years
3                                           8 - 10 years
4                                           8 - 10 years
...                                                  ...
28057                                      11 - 20 years
28058                                          5-7 years
28059                                        2 - 4 years
28060                                        2 - 4 years
28061                                        2 - 4 years

      How many years of professional work experience do you have in your field?  \
0                                              5-7 years
1                                              5-7 years
2                                            2 - 4 years
3                                              5-7 years
4                                              5-7 years
...                                                  ...
28057                                      11 - 20 years
28058                                          5-7 years
28059                                        2 - 4 years
28060                                     1 year or less
28061                                        2 - 4 years

      What is your highest level of education completed? What is your gender?  \
0                                        Master's degree                Woman
1                                         College degree           Non-binary
2                                         College degree                Woman
3                                         College degree                Woman
4                                         College degree                Woman
...                                                  ...                  ...
28057                 Professional degree (MD, JD, etc.)                Woman
28058                                     College degree                  Man
28059                                       Some college                  Man
28060                                       Some college                  Man
28061                                     College degree                Woman

      What is your race? (Choose all that apply.)
0                                           White
1                                           White
2                                           White
3                                           White
4                                           White
...                                           ...
28057                                       White
28058                                       White
28059                     Asian or Asian American
28060                     Asian or Asian American
28061                   Black or African American

[28062 rows x 18 columns]

Was that hard? üôÉ

#### rename the file to something that is better for all systems.  
* No spaces in filename (can use '_')
* all lower case

### Explore

You know the drill.

How much data did you just load?

In [ ]:
# Count by hand. I‚Äôm dead serious.

print(f'The data set has {df_salary.shape[0]} rows.')

The data set has 28062 rows.

What are the columns and their types?

In [61]:
# Show the column names and their types.

print(f'The data set has {df_salary.shape[1]} columns.')
print(df_salary.dtypes)

The data set has 18 columns.
Timestamp                                                                                                                                                                                                                                object
How old are you?                                                                                                                                                                                                                         object
What industry do you work in?                                                                                                                                                                                                            object
Job title                                                                                                                                                                                                                                object
If your job title needs additional context, please clarify here:                                                                                                                                                                         object
What is your annual salary? (You'll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)     object
How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.                                          float64
Please indicate the currency                                                                                                                                                                                                             object
If "Other," please indicate the currency here:                                                                                                                                                                                           object
If your income needs additional context, please provide it here:                                                                                                                                                                         object
What country do you work in?                                                                                                                                                                                                             object
If you're in the U.S., what state do you work in?                                                                                                                                                                                        object
What city do you work in?                                                                                                                                                                                                                object
How many years of professional work experience do you have overall?                                                                                                                                                                      object
How many years of professional work experience do you have in your field?                                                                                                                                                                object
What is your highest level of education completed?                                                                                                                                                                                       object
What is your gender?                                                                                                                                                                                                                     object
What is your race? (Choose all that apply.)                                                                                                                                                                                              object
dtype: object

Oh‚Ä¶ Ugh! Give these columns easier names to work with first. üôÑ

In [65]:
# Rename ‚Äòem.
# Non-binding suggestions: timestamp, age, industry, title, title_context, salary, additional_compensation, currency, other_currency, salary_context, country, state, city, total_yoe, field_yoe, highest_education_completed	gender, race

df_salary.rename(columns={
    'Timestamp': 'timestamp',
    'How old are you?': 'age',
    'What industry do you work in?': 'industry',
    'Job title': 'title',
    'If your job title needs additional context, please clarify here:': 'title_context',
    'What is your annual salary? (You\'ll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)': 'salary',
    'How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.': 'additional_compensation',
    'Please indicate the currency': 'currency',
    'If "Other," please indicate the currency here: ': 'other_currency',
    'If your income needs additional context, please provide it here:': 'salary_context',
    'What country do you work in?': 'country',
    'If you\'re in the U.S., what state do you work in?': 'state',
    'What city do you work in?': 'city',
    'How many years of professional work experience do you have overall?': 'total_yoe',
    'How many years of professional work experience do you have in your field?': 'field_yoe',
    'What is your highest level of education completed?': 'highest_education_completed',
    'What is your gender?': 'gender',
    'What is your race? (Choose all that apply.)': 'race',
}, inplace=True)
print(df_salary.columns)

Index(['timestamp', 'age', 'industry', 'title', 'title_context', 'salary',
       'additional_compensation', 'currency', 'other_currency',
       'salary_context', 'country', 'state', 'city', 'total_yoe', 'field_yoe',
       'highest_education_completed', 'gender', 'race'],
      dtype='object')

It‚Äôs a lot, and that should not have been easy. üòè

You‚Äôre going to have a gander at the computing/tech subset first because thats *your* industry. But first, what value corresponds to that `industry`?

In [66]:
# List the unique industries and a count of their instances.

unique_industries = df_salary['industry'].value_counts()
print(unique_industries)

industry
Computing or Tech                       4699
Education (Higher Education)            2464
Nonprofits                              2419
Health care                             1896
Government and Public Administration    1889
                                        ...
e-commerce                                 1
Graduate Student                           1
Obligatory Military service                1
Landscape Architecture                     1
Edtech                                     1
Name: count, Length: 1219, dtype: int64

That value among the top 5 is what you‚Äôre looking for innit? Filter out all the rows not in that industry and save it into a new dataframe.

In [69]:
# Filtery filter. (Save it to a new variable, df_salary_tech.)

top_5_industries = unique_industries.head(5).index.tolist()
df_salary_tech = df_salary[df_salary['industry'].isin(top_5_industries)]
print(df_salary_tech)

                timestamp    age                      industry  \
0      4/27/2021 11:02:10  25-34  Education (Higher Education)
1      4/27/2021 11:02:22  25-34             Computing or Tech
3      4/27/2021 11:02:41  25-34                    Nonprofits
5      4/27/2021 11:02:46  25-34  Education (Higher Education)
8      4/27/2021 11:03:01  45-54             Computing or Tech
...                   ...    ...                           ...
28053  7/12/2024 18:23:10  18-24                    Nonprofits
28057  7/12/2024 22:52:01  35-44                   Health care
28058  7/23/2024 17:51:03  25-34             Computing or Tech
28060  7/26/2024 11:20:45  18-24             Computing or Tech
28061   8/20/2024 1:06:13  25-34                   Health care

                                          title                 title_context  \
0            Research and Instruction Librarian                           NaN
1      Change & Internal Communications Manager                           NaN
3                               Program Manager                           NaN
5                Scholarly Publishing Librarian                           NaN
8                               Systems Analyst  Data developer/ETL Developer
...                                         ...                           ...
28053                  Adminstration Specialist                           NaN
28057                              Veterinarian                           NaN
28058                         Systems Architect                           NaN
28060                                        IT                           NaN
28061                    Clinical physiologist                            NaN

        salary  additional_compensation currency other_currency  \
0       55,000                      0.0      USD            NaN
1       54,600                   4000.0      GBP            NaN
3       62,000                   3000.0      USD            NaN
5       62,000                      NaN      USD            NaN
8      112,000                  10000.0      USD            NaN
...        ...                      ...      ...            ...
28053     1641                      NaN      CAD            NaN
28057   135000                      NaN      USD            NaN
28058   109000                      NaN      USD            NaN
28060     1700                     10.0      USD            NaN
28061  1200000                      NaN    Other            NGN

      salary_context         country          state         city  \
0                NaN   United States  Massachusetts       Boston
1                NaN  United Kingdom            NaN    Cambridge
3                NaN             USA      Wisconsin    Milwaukee
5                NaN             USA  New Hampshire      Hanover
8                NaN              US       Missouri    St. Louis
...              ...             ...            ...          ...
28053            NaN          Taiwan            NaN       Taipei
28057            NaN  United States        Missouri  Wentzville
28058            NaN             USA        Georgia      Atlanta
28060            NaN           Burma            NaN       Yangon
28061            NaN        Nigeria             NaN        Lagos

            total_yoe       field_yoe         highest_education_completed  \
0           5-7 years       5-7 years                     Master's degree
1        8 - 10 years       5-7 years                      College degree
3        8 - 10 years       5-7 years                      College degree
5        8 - 10 years     2 - 4 years                     Master's degree
8       21 - 30 years   21 - 30 years                      College degree
...               ...             ...                                 ...
28053  1 year or less  1 year or less                                 NaN
28057   11 - 20 years   11 - 20 years  Professional degree (MD, JD, etc.)
28058       5-7 years       5-7 years                      College degree
28060     2 - 4 years  1 year or less                        Some college
28061     2 - 4 years     2 - 4 years                      College degree

           gender                       race
0           Woman                      White
1      Non-binary                      White
3           Woman                      White
5             Man                      White
8           Woman                      White
...           ...                        ...
28053         Man    Asian or Asian American
28057       Woman                      White
28058         Man                      White
28060         Man    Asian or Asian American
28061       Woman  Black or African American

[13367 rows x 18 columns]

Do a sanity check to make sure that the only values you kept are the one you are filtered for.

In [70]:
# Sanity Check 

print(df_salary_tech['industry'].value_counts())

industry
Computing or Tech                       4699
Education (Higher Education)            2464
Nonprofits                              2419
Health care                             1896
Government and Public Administration    1889
Name: count, dtype: int64

We are very interested in salary figures. But how many dollars üíµ is a euro üí∂ or a pound üí∑? That sounds like a problem for another day. ü´†

For now, let‚Äôs just look at U.S. dollars (`'USD'`).

In [71]:
# Filtery filter for just the jobs that pay in USD!

df_salary_tech = df_salary_tech[df_salary_tech['currency'] == 'USD']

What we really want know is how each U.S. city pays in tech. What value in `country` represents the United States of America?

In [72]:
# We did filter for USD, so if we do a count of each unique country in descending count order, the relevant value(s) should show up at the top.

df_salary_tech['country'].value_counts()
print(df_salary_tech['country'].value_counts())

country
United States     4318
USA               3813
US                1252
U.S.               292
United States      255
                  ...
Nigeria              1
ss                   1
Nigeria              1
Chile                1
Burma                1
Name: count, Length: 139, dtype: int64

### Clean the Data

Well, we can‚Äôt get our answers with what we currently have, so you‚Äôll have to make some changes.

Let‚Äôs not worry about anything below the first 5 values for now. Convert the top 5 to a single canonical value‚Äïsay, `'US'`, which is nice and short.

In [76]:
# Replace them all with 'US'.

us_list = df_salary_tech['country'].value_counts().head(5).index.tolist()
df_salary_tech.replace(us_list, 'US', inplace=True)

Have a look at the count of each unique country again now.

In [77]:
# Count again.

print(df_salary_tech['country'].value_counts())

country
US                           10789
U.S.A.                          19
United States of America        19
U.S                             14
US                              12
                             ...
Nigeria                          1
ss                               1
Nigeria                          1
Chile                            1
Burma                            1
Name: count, Length: 127, dtype: int64

Did you notice anything interesting?

In [ ]:
# BONUS CREDIT: resolve [most of] those anomalous cases too without exhaustively taking every variant literally into account.

us_list = df_salary_tech['country'].value_counts().head(5).index.tolist()
us_list = [x.lower() for x in us_list]
us_list = [x.replace('.', '') for x in us_list]
us_list.append('united states of america')
def normalize_country(country):
    return str(country).lower().replace('.', '').replace(' ', '')
df_salary_tech['country'] = df_salary_tech['country'].apply(
    lambda x: 'US' if normalize_country(x) in us_list else x
)

country
US                   11009
The United States        2
The US                   2
Germany                  2
Puerto Rico              2
                     ...
Nigeria                  1
ss                       1
Nigeria                  1
Chile                    1
Burma                    1
Name: count, Length: 68, dtype: int64

In [91]:

# BONUS CREDIT: if you‚Äôve resolved it, let‚Äôs see how well you did by counting the number of instances of each unique value.

print(df_salary_tech['country'].value_counts())

country
US                   11009
The United States        2
The US                   2
Germany                  2
Puerto Rico              2
                     ...
Nigeria                  1
ss                       1
Nigeria                  1
Chile                    1
Burma                    1
Name: count, Length: 68, dtype: int64

It‚Äôs looking good so far. Let‚Äôs find out the minimum, mean, and maximum (in that order) salary by state, sorted by the mean in descending order.

In [93]:
# Find the minimum, mean, and maximum salary in USD by U.S. state.

min_by_state = df_salary_tech.groupby('state')['salary'].min()
mean_by_state = df_salary_tech.groupby('state')['salary'].mean()
max_by_state = df_salary_tech.groupby('state')['salary'].max()

TypeError: agg function failed [how->mean,dtype->object]

Well, pooh! We forgot that `salary` isn‚Äôt numeric. Something wrong must be fixed.

In [96]:
# Fix it.

df_salary_tech['salary'] = pd.to_numeric(df_salary_tech['salary'], errors='coerce')
df_salary_tech = df_salary_tech[df_salary_tech['salary'].notnull()]

Let‚Äôs try that again.

In [101]:
# Try it again. Yeah!

min_by_state = df_salary_tech.groupby('state')['salary'].min()
mean_by_state = df_salary_tech.groupby('state')['salary'].mean()
max_by_state = df_salary_tech.groupby('state')['salary'].max()
print(mean_by_state)

state
Alabama                              86887.470588
Alabama, Oregon                      50000.000000
Alaska                               68158.000000
Arizona                              78716.527778
Arkansas                             62167.111111
California                          123286.101648
California, Colorado                176000.000000
California, Maryland                 81500.000000
California, Oregon                  200000.000000
Colorado                             94562.376623
Connecticut                          95786.400000
Delaware                            134025.000000
District of Columbia                110711.883721
District of Columbia, Virginia      109200.000000
District of Columbia, Washington     35000.000000
Florida                             131342.822581
Georgia                              95357.774648
Hawaii                               77820.000000
Idaho                                80024.050000
Illinois                             91018.844444
Indiana                              69112.261905
Iowa                                 72410.588235
Kansas                               72284.277778
Kentucky                             63164.181818
Louisiana                            74331.250000
Louisiana, Washington               117000.000000
Maine                                73478.545455
Maryland                             89184.972603
Massachusetts                       100993.763547
Michigan                             76434.710145
Michigan, Texas, Washington         340000.000000
Minnesota                            87427.100000
Mississippi                          63250.000000
Missouri                             73206.520000
Montana                              67949.428571
Nebraska                             81883.333333
Nevada                               82416.666667
New Hampshire                        68281.153846
New Jersey                           92043.953488
New Jersey, New York                137500.000000
New Mexico                           68855.555556
New York                            110966.773585
North Carolina                       77928.089888
North Dakota                         48750.000000
Ohio                                 81686.706667
Oklahoma                             74887.000000
Oregon                               98700.409091
Pennsylvania                         81695.793103
Rhode Island                         65409.000000
South Carolina                       48948.333333
South Dakota                         46750.000000
Tennessee                            78296.620690
Texas                                84961.860606
Utah                                 86917.750000
Vermont                              79243.500000
Virginia                             97474.939394
Washington                          107677.965986
West Virginia                        95500.000000
Wisconsin                            94330.823529
Wyoming                              54606.000000
Name: salary, dtype: float64

That did the trick! Now let‚Äôs narrow this to data 2021 and 2022 just because (lel). *(Hint: that timestamp column may not be a temporal type right now.)*

In [104]:
# Filter the data to within 2021, 2022, or 2023, saving the DataFrame to a new variable, and generate the summary again.

df_salary_tech['timestamp'] = pd.to_datetime(df_salary_tech['timestamp'], errors='coerce')
df_salary_tech = df_salary_tech[
    df_salary_tech['timestamp'].dt.year.isin([2021, 2022, 2023])
]
min_by_state_recent = df_salary_tech.groupby('state')['salary'].min()
mean_by_state_recent = df_salary_tech.groupby('state')['salary'].mean()
max_by_state_recent = df_salary_tech.groupby('state')['salary'].max()
print(mean_by_state_recent)

state
Alabama                              90962.400000
Alabama, Oregon                      50000.000000
Alaska                               68158.000000
Arizona                              78716.527778
Arkansas                             69937.500000
California                          123432.895317
California, Colorado                176000.000000
California, Maryland                 81500.000000
California, Oregon                  200000.000000
Colorado                             94562.376623
Connecticut                          95786.400000
Delaware                            134025.000000
District of Columbia                111186.195312
District of Columbia, Virginia      109200.000000
District of Columbia, Washington     35000.000000
Florida                              90873.032787
Georgia                              95162.885714
Hawaii                               77820.000000
Idaho                                80024.050000
Illinois                             90643.187970
Indiana                              69112.261905
Iowa                                 72410.588235
Kansas                               72284.277778
Kentucky                             63164.181818
Louisiana                            74331.250000
Louisiana, Washington               117000.000000
Maine                                73478.545455
Maryland                             89576.430556
Massachusetts                       100780.861386
Michigan                             76434.710145
Michigan, Texas, Washington         340000.000000
Minnesota                            87534.739130
Mississippi                          63250.000000
Missouri                             71945.428571
Montana                              67949.428571
Nebraska                             81883.333333
Nevada                               82416.666667
New Hampshire                        68281.153846
New Jersey                           92043.953488
New Jersey, New York                137500.000000
New Mexico                           68855.555556
New York                            111561.197719
North Carolina                       77506.818182
North Dakota                         48750.000000
Ohio                                 81686.706667
Oklahoma                             74887.000000
Oregon                               98700.409091
Pennsylvania                         81695.793103
Rhode Island                         65409.000000
South Carolina                       50066.875000
South Dakota                         46750.000000
Tennessee                            78296.620690
Texas                                84961.860606
Utah                                 87322.869565
Vermont                              79243.500000
Virginia                             97474.939394
Washington                          107722.678082
West Virginia                        95500.000000
Wisconsin                            94330.823529
Wyoming                              54606.000000
Name: salary, dtype: float64

## Bonus

Clearly, we do not have enough data to produce useful figures for the level of specificity you‚Äôve now reached. What do you notice about Delaware and West Virginia?

Let‚Äôs back out a bit and return to `df_salary` (which was the loaded data with renamed columns but *sans* filtering).

### Bonus #0

Apply the same steps as before to `df_salary`, but do not filter for any specific industry. Do perform the other data cleaning stuff, and get to a point where you can generate the minimum, mean, and maximum by state.

In [108]:
us_list = df_salary['country'].value_counts().head(5).index.tolist()
us_list = [x.lower() for x in us_list]
us_list = [x.replace('.', '') for x in us_list]
us_list.append('united states of america')
def normalize_country(country):
    return str(country).lower().replace('.', '').replace(' ', '')
df_salary['country'] = df_salary['country'].apply(
    lambda x: 'US' if normalize_country(x) in us_list else x
)
df_salary = df_salary[df_salary['currency'] == 'USD']
df_salary['salary'] = pd.to_numeric(df_salary['salary'], errors='coerce')
df_salary = df_salary[df_salary['salary'].notnull()]
min_by_state = df_salary.groupby('state')['salary'].min()
mean_by_state = df_salary.groupby('state')['salary'].mean()
max_by_state = df_salary.groupby('state')['salary'].max()
print(mean_by_state)

state
Alabama                68424.250000
Alabama, California    29120.000000
Alabama, Oregon        50000.000000
Alaska                 75699.142857
Arizona                86190.060241
                           ...
Virginia               96247.442922
Washington             98022.110727
West Virginia          52754.375000
Wisconsin              83000.628788
Wyoming                59906.333333
Name: salary, Length: 81, dtype: float64

### Bonus #1

This time, format the table output nicely (*$12,345.00*) without modifying the values in the `DataFrame`. That is, `df_salary` should be identical before versus after running your code.

(*Hint: if you run into an error about `jinja2` perhaps you need to `pip install` something.*)

### Bonus #2

Filter out the non-single-states (e.g., `'California, Colorado'`) in the most elegant way possible (i.e., *not* by blacklisting all the bad values).

### Bonus #3

Show the quantiles instead of just minimum, mean, and maximum‚Äïsay 0%, 5%, 25%, 50%, 75%, 95%, and 100%. Outliers may be deceiving.

Sort by whatever interests you‚Äïlike say the *50th* percentile.

And throw in a count by state too. It would be interesting to know how many data points contribute to the figures for each state. (*Hint: your nice formatting from Bonus #1 might not work this time around.* üòú)